.menu-top-cus{
    display: flex;
    justify-content: flex-end;
}
.mbs {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
}
.m_banner .effect-ming {
    border-radius: 10px;
}
.banner-w a {
    will-change: transform;
}
.label_product {
    position: absolute;
    top: 5px;
    right: 10px;
}
.main-footer{
    position: relative !important;
}
.main-footer::before{
    content: "";
    position: absolute;
    width: 100%;
    top: -100px;
    left: 0px;
    height: 100px;
    z-index: 10;
    background-image: url(../img/bg_menu.png);
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.label_product span {
    position: relative;
    display: inline-block;
    background: #ff0000;
    color: white;
    height: 26px;
    width: 26px;
    text-align: center;
    vertical-align: middle;
    line-height: 26px;
    margin: 0;
    transform: rotate(-20deg);
    animation: sale 1s ease infinite alternate;
    font-size: 12px;
    font-weight: bold;
    z-index: 1000000;
}
@keyframes sale {
    0% {
        transform: rotate(-20deg) scale(1);
    }
    100% {
        transform: rotate(-20deg) scale(1.1);
    }
}
.label_product span::after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(60deg);
}
.label_product span::before {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}
.price-cus{
    color: red !important;
    font-weight: bold;
}
.ratio1by2 {
    padding-bottom: 50%;
}
.limit-text-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    list-style: none !important;
}
.aspect {
    height: 0;
    overflow: hidden;
    z-index: 3;
}
.aspect .img-contain {
    left: 50%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
  
}
.bg-cus{
    background-color: rgb(192, 192, 192) !important;
}
.custom-btn-numbers {
float: left;
box-shadow: none;
padding: 0;
border-radius: 7px;
border: 1px solid #6c6c79;
min-height: unset;
width: auto;
background-color: transparent;
height: auto
}
.custom-btn-numbers .btn-cts {
font-size: 20px;
line-height: 0px;
border: none;
display: inline-block;
width: 35px;
height: 35px;
background: #fff;
float:left;
color: rgb(27, 7, 7);
text-align: center;
padding: 0px;
border-radius: 0;
cursor: pointer;
}
.custom-btn-numbers .btn-cts.btn-minus {
border-top-left-radius: 7px;
border-bottom-left-radius: 7px
}
.custom-btn-numbers .btn-cts.btn-plus {
border-top-right-radius: 7px;
border-bottom-right-radius: 7px
}
.custom-btn-numbers .btn-cts.btn-plus:active{
background-color: orangered;
color: bisque;
}
.custom-btn-numbers .btn-cts.btn-minus:active{
background-color: orangered;
color: bisque;
}
.custom-btn-numbers .qty {
height: 35px;
font-size: 1em;
margin: 0;
width: 35px;
padding: 0 2px;
text-align: center;
background: #fff;
min-height: unset;
display: block;
float: left;
box-shadow: none;
border-radius: 0px;
border: none;
user-select:none !important;
}
@media only screen and (max-width: 767px) {
    .wrapper-heading-home {
        padding: 15px 0;
        text-align: center;
    }
    
}
.flex-menu{
    display: flex;
    justify-content: space-between;
    padding: 9px 20px;
}
.cus-la-new{
    background-color: rgb(0, 0, 0) !important;
    color: white;
}
.click-color.active {
    border: rgb(7, 179, 1) 2px solid;
    border-radius: 5px
}
li.type-li {
    padding: 10px 52px;
}
.type-ul{
    display: none;
}
/* .type-li{
    display:none;
} */
.parent-menu .type-ul.active{
    display: block;
    position: relative;
}
.cus-flex{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 10px;
}
#open-c{
    display: none;
}
#open-brand{
    display: none;
}
#open-price{
    display: none;
}
@media only screen and (max-width: 1200px){
#open-c{
display: block;
}
#open-brand{
    display: block;
}
.menu-brand{
    display: none;
}
.nav-category{
    display: none;
}
.nav-category.active{
    display: block;
}
.menu-brand.active{
    display: block;
}
aside.aside-item.filter-price {
    /* padding: 15px; */
}
aside.aside-item.filter-price {
    /* margin-top: 20px; */
}
.menu-price-cus{
    display: none;
}
.menu-price-cus.active{
    display: block;
}
#open-price{
    display: block;
}
}
@media (max-width: 767px){
.main-footer .footer-content.active{
    display: block !important;
    margin-top: 10px;
}
}
